/* this is some style */

/* Font  & bg color*/
body {
    font-family: 'Montserrat', sans-serif;
};

h1
h2
h3
h4
h5 {
    font-family: 'Montserrat', sans-serif ;
    font-weight: 700;
};

/* Header */

.navbar {
    background-color: whitesmoke;
};

.hero {
    background-color: grey;
}
.hero.py-4 {
    background-color: lightslategrey;
};

.container {
    background-color: lightslategrey;
};

.score{
color:darkblue;
font-weight: bolder;
font-size: larger;
}

.submittedBy {
    color: gray;
}

.titleText {
    font-weight: bolder;
}